{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block subtitle %} Ejercicios {% endblock subtitle %}

{% block content %}

{% include 'ejercicios/includes/ejercicio_menu.html'%}

<div class="contenido-ejercicios">

    {% for ejercicio in ejercicio_list|dictsort:'id' reversed %}

      <div class="card">
        
        <img src="{{ejercicio.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ejercicio.title}}</h5>
          <p class="card-text"> {{ejercicio.description|safe}} </p>
          
          <hr>
          
          <a href="{{ejercicio.link}}" class="btn btn-primary">Link</a>

          {% if request.user.is_staff %}

            <a href="{% url 'ejercicios:ejercicios' ejercicio.id ejercicio.title|slugify %}" class="btn btn-primary">Más info...</a>

          {% endif %}   
        </div>

      </div>

    {% endfor %}

</div>
{% endblock %}
