{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block subtitle %} Herramientas {% endblock subtitle %}
{% block content %}
{% include 'herramientas/includes/herramienta_menu.html'%}

  {% for herramienta in herramienta_list|dictsort:'id' reversed %}

  <div class="contAcademic">

    <div class="appAcademic">
      <a href="{{herramienta.link}}" target= "_blank"> {{herramienta.title|safe}} </a>
      <p class="txtAcademic"> {{herramienta.description|safe}}</p>
    
      {% if request.user.is_staff %}

        <a href="{% url 'herramientas:herramientas' herramienta.id herramienta.title|slugify %}" class="btn btn-primary">Más info...</a>

      {% endif %}
      </div>
  </div>

  {% endfor %}

{% endblock %}
