{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block subtitle %} Hábitos {% endblock subtitle %}
{% block content %}
{% include 'habitos/includes/habito_menu.html'%}

  {% for habito in habito_list|dictsort:'id' reversed %}

    <div class="content">

      <div class="projectCard">

        <h5 class="card-header" style="background-color:rgb(13,110,253);">{{habito.title}}</h5>
        
        <div class="card-body">

          {% if habito.subtitle %}
              <h5 class="card-title">{{habito.title}}</h5>
          {% endif %}

          <p class="card-text">{{habito.description}}</p>

          <a href="{% url 'habitos:habito' habito.id habito.title|slugify %}" class="btn btn-primary">Más info...</a>

            {% if request.user.is_staff %}

            {% endif %}
          </p>

        </div>

      </div>

    </div>

  {% endfor %}

{% endblock %}
