{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}

{% block background%}{% load static %}{% static 'core/img/fondoHome.jpg' %}{%endblock%}

{% block subtitle %} Inicio {% endblock subtitle %}

{% block content %}

<div class="textoInicio">
    <h1>Bienvenidos a WikiEF: Tu Recurso Integral para Maestros de Educación Física</h1>
    <p>
        Esto es el inicio de una aplicacion hecha por y para maestros, 
        gracias a la cual podremos obtener desde los ejercicios más básicos para nuestras clases como nuevos proyectos integrados, 
        habitos de vida saludable para nuestros alumnos y estudios sobre salud y actividad física en niños. 
        <br><br>
        En WikiEF, entendemos la importancia de la educación física en el desarrollo integral de los estudiantes. 
        Nuestra misión es proporcionar a los maestros de educación física las herramientas, 
        recursos y apoyo necesarios para inspirar y guiar a la próxima generación hacia una vida activa y saludable.
    </p>
    <h2>¿Quiénes Somos?</h2>
    <p>EducaFit es una comunidad dedicada a los profesionales de la educación física que buscan enriquecer sus clases y 
        fomentar un ambiente de aprendizaje dinámico y motivador. 
        Nuestro equipo está compuesto por expertos en el campo, 
        comprometidos con la promoción de la actividad física y el bienestar en el ámbito educativo.
    </p>
    <h2>¿Qué ofrecemos?</h2>
    <ul>
        <li>Recursos Educativos: Accede a una amplia variedad de planes de lecciones, actividades y ejercicios diseñados para todos los niveles escolares.</li>
        <li>Capacitación y Desarrollo Profesional: Participa en talleres, webinars y cursos en línea que te ayudarán a mantenerte actualizado con las últimas tendencias y mejores prácticas en educación física.</li>
        <li>Comunidad y Colaboración: Únete a nuestro foro para intercambiar ideas, compartir experiencias y conectarte con otros profesionales apasionados por la educación física.</li>
        <li>Noticias y Actualizaciones: Mantente informado sobre las últimas noticias en el mundo de la educación física, incluyendo eventos, investigaciones y políticas educativas.</li>
    </ul>
    <h2>Nuestra visión</h2>
    <p>Creemos que la educación física es más que solo ejercicio; es una herramienta fundamental para el desarrollo físico, mental y social de los estudiantes. En WikiEF, estamos comprometidos a apoyar a los maestros en su esfuerzo por crear un impacto positivo en la vida de sus alumnos.</p>
</div>

{% endblock %}
